name: Build Python Code
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
      - name: Install Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 